* {
    box-sizing: border-box;
}

body {
    background-color: #242042;
    max-width: 1200px;
    margin: 1rem auto;
}

.app {
    margin: 0 5px;
}

.app .product-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    row-gap: 1rem;
    column-gap: max(1rem, 3%);
}